{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Image list</h1>

    {% for entity in entities %}
        <div class="block">
            <div>
                <img src="{{ entity.imageUrl }}"/>
            </div>

            <div>
                <p><a href="{{ path('image_show', { 'id': entity.id }) }}">{{ entity.name }}</a></p>
                {{ entity.description }}
            </div>

            <div class="illustration">
                <a href="{{ path('image_show', { 'id': entity.id }) }}">show</a>

                <a href="{{ path('image_edit', { 'id': entity.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
    <div class="symfony-blocks-help">
        <div class="block-documentation">

            <ul>
                <li>
                    <a href="{{ path('image_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
